<html>

<head>
    <title>SMS Reports - DK</title>
    <script src="static/angular.min.js"></script>
    <script src="static/app.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-6">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h5>Messages</h5>
                        <div class="d-flex" style="margin: auto; margin-right: 30px; float:right;">
                            <input ng-model="Data.search.phone" type="text" placeholder="Search with phone..."
                                class="form-control">
                            <button ng-click="Func.find()" type="button" class="btn btn-primary">Find</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th ng-repeat="(key, val) in Data.messages.fields">{{val.title}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in Data.messages.results">
                                    <td ng-repeat="(key, val) in Data.messages.fields" title="{{val.title}}">{{item[key]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5>Apis</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th ng-repeat="(key, val) in Data.report.apis.fields">{{val.title}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in Data.report.apis.results">
                                    <td ng-repeat="(key, val) in Data.report.apis.fields" title="{{val.title}}">{{item[key]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5>Most common numbers</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th ng-repeat="(key, val) in Data.report.most_common.fields">
                                        {{val.title}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in Data.report.most_common.results"
                                    class="userRow">
                                    <td ng-repeat="(key, val) in Data.report.most_common.fields" title="{{val.title}}">{{item[key]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            
        </div> -->
    </div>
</body>

</html>